[2014-12-03 11:21] Kunden opened #2 "composer"
hello, I have check this repository and findout that I can't update composer. please check it and help me for setup this repository on my system.

[2015-02-17 15:24] Intrepidity opened #3 "Make bundle compatible with symfony 2.6"
The bundle requires a version of symfony lower than 2.6.

Does anything need to happen to make it compatible or can you just bump the requirement in composer.json?

[2015-02-17 15:27] stefanneculai commented on #3
@samarhxc any thoughts on this one?

[2015-02-17 15:38] Intrepidity commented on #3
I quickly reviewed the symfony 2.5 to 2.6 upgrade documentation and I don't think there's any relevant BC breaks there. I think it's a matter of bumping it in the develop branch and just trying it out..

[2015-02-17 15:39] stefanneculai commented on #3
I believe that too. @samarhxc has created this bundle and he should be more familiar. If you could give it a try that would be great.

[2015-02-17 20:11] samarhxc commented on #3
I updated the composer.json requirement (i don't really know what to set but the bundle is working for me with the last symfony release).

[2015-02-17 20:12] #2 closed

[2015-02-18 14:09] Intrepidity commented on #3
Thanks, we're testing it on our side right now. I'll get back to you on the results next week as I'm AFK the coming days. :)

[2015-02-24 09:41] Intrepidity commented on #3
Perfect, works like a charm :) Consider this issue closed :+1:

[2015-02-24 10:19] samarhxc commented on #3
Nice, take a look to the documentation, i comitted some updates ;)

[2015-02-24 10:19] #3 closed

[2015-06-25 12:05] stickyhands opened #4 "fontawesome"
fontawesome is missing in the bundle

{% if includeFontAwesome %}
    loadCSS( "{{ asset( basePath ~ "css/font-awesome.min.css" ) }}" );
{% endif %}

https://github.com/froala/KMSFroalaEditorBundle/tree/master/Resources/public/css

[2015-06-25 12:45] samarhxc commented on #4
Thank you,
Froala removed font-awesome from 1.7.
You can disable font awesome inclusion in the configuration, i

[2015-06-25 12:46] samarhxc commented on #4
Froala removed Font Awesome in 1.7 version.
I'll fix that, you can disable Font Awesome inclusion from your configuration file.

[2015-06-25 13:53] stefanneculai commented on #4
@samarhxc I believe the right way is to include it via composer. Like here: https://github.com/froala/wysiwyg-cake/blob/master/composer.json#L36

[2015-06-25 20:01] samarhxc commented on #4
Normally fixed in last commit.

[2015-06-25 20:01] #4 closed

[2015-07-01 09:16] stickyhands opened #5 "Froala initialization in form"
Hi,

in the file froala widget: https://github.com/froala/KMSFroalaEditorBundle/blob/master/Resources/views/Form/froala_widget.html.twig

You use $(document).ready to delay the execution of the JS till the page is fully loaded.
You should use something in vanilla js to prevent an error from the users that dont include jquery with froala and have their js block at the end of their template.

docume

[2015-07-01 09:17] stefanneculai commented on #5
Froala Editor requires jQuery.

[2015-07-01 09:22] stickyhands commented on #5
what if i do have JQuery but load it in a JS block at the bottom of my templates?

[2015-07-01 09:33] stefanneculai commented on #5
jQuery must be included before the inclusion of the Froala Editor files.

[2015-07-01 09:45] stickyhands commented on #5
So to use the froala editor I have to follow a bad practice.

yep, but with $(document).ready you assume we all load Jquery in <head> or something.

imho, 2 solutions:
dont use $(document).ready in the widget but rather use a vanilla js solution
or
remove the js code from the widget file and put it in his own .js file that we can load where we want and after Jquery (wherever it is)

[2015-07-03 13:38] denya-vs opened #6 "inline editing"
Can I edit template with this bundle?
This bundle only for textarea editing or i can do inline editing?
Why I get this error? http://i.imgur.com/Vt1Mhwr.png

[2015-07-21 13:20] samarhxc commented on #6
(sorry for the late)
I think you forgot to include something.
You can do inline editing (see the configuration documentation).

[2015-08-07 07:46] ahonymous opened #7 "How enable options useFrTag"
Hi!
How I can ow enable options useFrTag with this bundle. (https://www.froala.com/wysiwyg-editor/docs/options#useFrTag)

Thank's.

[2015-08-07 10:09] samarhxc commented on #7
Hi, this option is not implemented yet, i will add it in the next commit.

[2015-08-07 12:04] ahonymous commented on #7
Thank's.
Can you add options to the paste formatting table with the all styles? (example: http://www.jqueryscript.net/demo/jQuery-WYSIWYG-Rich-Text-Editor-Plugin-Froala-Editor/)

[2015-09-04 17:54] samarhxc commented on #7
Hi, sorry i was away during the entire month.
I'll add your options in the next release, for Froala 2 i think.

[2015-09-04 17:55] #6 closed

[2015-11-17 17:06] MauroCasula opened #8 "Error 1 : Bad link - Changing imageUploadFolder to /upload/anotherfolder"
Hi there,

I just changed imageUploadFolder:

  ->add('content', 'froala', array(
                'mapped' => false,
                'data' => $this->data,
                'inlineMode' => false,
                "imageUploadFolder" => "/upload/cliente2"
            ));

And the editor give me an alert with the  message: Error 1 : Bad link.

Anyone know what can be this?

[2015-11-17 17:21] MauroCasula commented on #8
Solved setting both imageUploadFolder and imageUploadPath.

You should update the docs.

Thank you for this wonderful plugin!!!

[2015-11-17 18:07] samarhxc commented on #8
Hi,
i'm preparing a big update for the Froala v2 just released,
the doc and configuration will totally change soon.
Thnx

[2015-11-17 18:07] #8 closed

[2015-12-02 00:29] samarhxc commented on #7
All Froala options are now supported.
Feel free to reopen this issue if something is wrong.

[2015-12-02 00:29] #7 closed

[2015-12-02 00:30] samarhxc commented on #5
This request is always up to date ?

[2016-02-15 13:49] reggin opened #9 "$(...).froalaEditor is not a function"
Hi
Just installed your bundle. I've add configuration, add froala to form (a form field type). And have error `$(...).froalaEditor is not a function`.
`froala_editor.min.js` loaded also. What could be the problem?

[2016-02-15 14:33] samarhxc commented on #9
Hi,
do you manually loads javascript or let the bundle include it ?

[2016-02-16 12:41] benatespina opened #11 "Add stable tag"
Hi, this package hasn't enabled auto-update inside Packagist so, the last merged PR is not referenced yet. Can you update the reference and by the way, can you tag a stable version?

Thanks in advance.

[2016-02-16 13:23] samarhxc commented on #11
I added a v3.0.0 tag on master branch, have i to add something (branch-alias or something else) to composer.json ?

[2016-02-16 13:24] stefanneculai commented on #11
@samarhxc I noticed that you tagged couple of minutes ago the Symfony plugin to V3.0.0. Would it be possible to delete that tag and instead keep it in sync with the editor? This way it would be easier for us to know which plugins are up to date and which not. Here is how we do it for the other plugins:

- V2.1.0 -> same with editor
	- **V2.1.0_1 (this would be the right one now)** -> V2.1.0 of the

[2016-02-16 13:26] benatespina commented on #11
@samarhxc  yeah! After that, you have to update your package in this url to sync your new tag with packagist https://packagist.org/packages/kms/froala-editor-bundle

[2016-02-16 13:34] benatespina commented on #11
@samarhxc Thanks!! Now your bundle works like a charm ;)

[2016-02-16 13:36] samarhxc commented on #11
No problem, from now the bundle version will be sync with the Froala editor version.
I think i have to add this to composer.json :

``
{
    "extra": {
        "branch-alias": {
            "dev-master": "2.1.x-dev"
        }
    }
}
``

This is correct or i missed something ?

[2016-02-16 13:38] benatespina commented on #11
@samarhxc This is correct, is a simple alias to master branch, anyway it's not mandatory but it's a good practice.

[2016-02-16 13:41] samarhxc commented on #11
Ok,
thank you for your help.

[2016-02-16 13:41] #11 closed

[2016-02-18 15:31] reggin commented on #9
Hi,
Sorry for delay. I let bundle to include it. Now I tried to include manually - and it works now, thanks!

[2016-02-18 15:48] Jakub-Fajkus commented on #9
Hello,
I have the same issue. I let the bundle to include all required files. How can I at least include files manually?

[2016-02-18 19:16] reggin commented on #9
@Jakub-Fajkus
Hardcode :)
`<script src="{{ asset( 'bundles/kmsfroalaeditor/froala_editor_2.1.0/js/froala_editor.min.js' ) }}"></script>`

The same I've added plugins and styles.

[2016-02-18 19:45] samarhxc commented on #9
I'll take a look and maybe ask you some questions about your configuration, libraries...

[2016-02-18 19:47] samarhxc commented on #5
JS can now be loaded manually by user.

[2016-02-18 19:47] #5 closed

[2016-02-19 08:39] Jakub-Fajkus commented on #9
I think I found the problem.
I am trying this on dev environment which is much slower than production. On production, it works without problem. I suppose the problem was because the jQuery's function ready() got triggered before the "froala_editor.min.js" file was fully loaded.

[2016-03-03 17:33] stickyhands opened #12 "do not delete file option [suggestion]"
I would like to have an option in this bundle to disable the fact that an image file is deleted from the file system when the image is deleted from the wysiwyg.

What do you think about that ?

[2016-03-04 10:05] dimitribocquet opened #13 "Weird bug with toolbarInline enabled on Firefox"
I found a weird bug only viewable on Firefox. The toolbar is loaded only with basic options (bold, italic, font). BUT, when i open the "Web Developper" menu, the full toolbar appears.

This bug is only on Firefox.

I don't know if this bug is directly in Froala, or in this Bundle (or only with me).

[2016-03-14 16:32] pedrocasado commented on #9
I used to load all javascripts at the botton of the page and was having the same problem..

I just had to put jQuery js on the <head> tag and everything loaded correctly.

[2016-03-16 17:46] cassianotartari opened #14 "Notice: Undefined index: basePath in /vendor/kms/froala-editor-bundle/Service/OptionManager.php line 68"
Hi! I've followed all the steps described in readme but when I try to use the form type it throws:
[code]

I've already defined a ``basePath`` in config but didn't worked.

[2016-03-16 18:44] samarhxc commented on #14
Hi,
can you show me your config file please ?

[2016-03-16 19:02] cassianotartari commented on #14
[code]

I was looking the code before and I think is something related to Symfony version, I'm using 2.3. It wasn't setting defaults inside form type. I've already deleted all the stuff but I've tried to change some method to set defaults and the error changed to other place. I'm working with ckeditor but it has dependencies with others bundle and I can't update it to newest version. The reason th

[2016-03-16 19:10] samarhxc commented on #14
You have to remove the basePath in your config file, clean the cache and it should works.

[2016-03-16 19:57] samarhxc commented on #12
If you remove an image using backspace in the editor, the image is not deleted from the file system.

[2016-03-16 19:58] samarhxc commented on #13
@stefanneculai can you take a look ?

[2016-05-04 07:56] balvirsingh commented on #14
Hi,
I removed the basePath in your config file and clean the cache but again same problem.

[2016-05-04 09:00] #12 closed

[2016-05-04 09:02] samarhxc commented on #14
Can you show me your actual configuration file and your code that create the form please ?

[2016-05-16 11:18] prakashsinghgaur opened #16 "Configuration for Symfony 3.0.6"
I have installed and configured it as given in the instructions, but while adding it to the form as given below, it says Could not load type "froala"

$builder->add( "yourField", "froala" );

Can you specifically tell how to add it in form in Symfony 3, because Symfony 3 requires Type and Class to be included and declared, explicitly like below mentioned example:-

Type:-
use Symfony\Component\For

[2016-05-16 15:29] samarhxc commented on #16
You have to use :

use KMS\FroalaEditorBundle\Form\Type\FroalaEditorType;

and insert the editor like that :

->add( 'yourField', FroalaEditorType::class)

[2016-05-17 03:34] prakashsinghgaur commented on #16
Thanks for the reply.

But after doing this a new runtime error occurred:-

Key "language" for array with keys "fileUploadURL, imageManagerDeleteURL, imageManagerLoadURL, imageUploadURL, imageUploadParams, imageManagerLoadParams, imageManagerDeleteParams, fileUploadParams" does not exist in KMSFroalaEditorBundle:Form:froala_widget.html.twig at line 21

Any help on this!

[2016-05-17 08:49] benbender commented on #16
Same applies for 2.8.6 (current) with the master-branch of the bundle.

[2016-05-17 09:22] samarhxc commented on #16
The option "language" has to be defined in your config file or in your form declaration.
I need to add a test or set a default language.

"en_us" does not exist, look at the public/froala/js/languages/ folder.

[2016-05-18 10:34] prakashsinghgaur commented on #16
I tried with en_ca as language in config.yml but still no luck
The editor is not showing up

[2016-05-18 15:11] samarhxc commented on #16
Can you copy paste your config file, your form declaration, and the error please ?

[2016-05-20 06:55] Khaldoun488 commented on #14
same problem with me

[2016-05-23 11:03] Khaldoun488 commented on #14
I just updated to Symfony 2.8.6 and it works.

[2016-05-23 12:06] Khaldoun488 opened #17 "Integrate Froala with Sonata"
Hey

I am used Froala Editor with Sonata Admin

 $formMapper->add('content', 'froala');

And I have this exception :

Impossible to access an attribute ("options") on a null variable in SonataAdminBundle:Form:form_admin_fields.html.twig at line 326

[2016-05-23 22:02] samarhxc commented on #17
Hey,
the error displayed seems to occur in a Sonata view, not in Froala.

[2016-05-24 10:40] prakashsinghgaur commented on #16
My config.yml is as follows:-

imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~

[2016-05-27 06:33] AnthonyPavaux commented on #14
I must remain a version 2.6 sf2 with dependence . he has no other solution than a past version > 2.8?

[2016-05-27 15:35] samarhxc commented on #16
You can delete the basePath in you config file if you are using the version of froala provided with the bundle.

[2016-05-27 16:00] samarhxc commented on #14
I will update the bundle next week to the last Froala version. Do you have an idea about problem with sf <2.8 ?

[2016-06-02 14:43] stickyhands opened #19 "Image Browser is not displayed"
![capture d ecran 2016-06-02 a 16 42 10](https://cloud.githubusercontent.com/assets/2256150/15748981/1600fa20-28e1-11e6-9b72-4e0197566ed8.png)

Im loading all the plugins but the image browser is not displayed. Any idea ? (im using dev-master)
image_manager.min.js is loaded and so is image_manager.min.css

[2016-06-02 15:09] samarhxc commented on #19
You have to drag and drop your image file, or click on the area to open the file browser.

[2016-06-02 15:13] stickyhands commented on #19
well, thats not what I meant, I'm talking about that "Browse":
![capture d ecran 2016-06-02 a 17 12 11](https://cloud.githubusercontent.com/assets/2256150/15750063/38eeaaec-28e5-11e6-8ea7-3199e3d3456c.png)

[2016-06-08 00:01] samarhxc commented on #13
Fixed.

[2016-06-08 00:01] #13 closed

[2016-06-22 09:36] mufac commented on #19
I think I know what is going on here. The bug is actually with all plugins that have underscores in their names (image_manager is affected but so are others like paragraph_style). The list of plugins is obtained here:

https://github.com/froala/KMSFroalaEditorBundle/blob/master/Form/Type/FroalaEditorType.php#L134

and used to populate the Froala pluginsEnabled config setting. The problem is that w

[2016-06-22 11:09] samarhxc commented on #19
Good job !
Just fixed and commited, thank you !

[2016-06-22 11:09] #19 closed

[2016-07-01 12:10] fyher opened #20 "Icon plugin d'ont show"
i have 2.3 version and the icon for the plugin code view it's not in the toolbar , i have the see de css and js file .

[2016-07-01 12:27] samarhxc commented on #20
If you update to dev-master branch it's normally fixed.

[2016-07-01 12:34] fyher commented on #20
it's a 2.3.3 ?

[2016-07-01 12:38] fyher commented on #20
it's good , i have remove and reinstall it :)

[2016-07-01 12:38] #20 closed

[2016-07-01 12:46] samarhxc commented on #20
The bug is fixed on master branch but not tagged for the moment, it'll be at next Froala update :)

[2016-07-29 08:09] helmidridi commented on #9
I have the same problem too

[2016-08-11 15:56] xpersonas opened #21 "Themes"
It doesn't seem that the theme setting is used appropriately. I'm setting this in the config.yml...

theme: 'gray'

However, no theme changes appear. And no missing css or anything is reported in the console. So I'm thinking that theme key is not being used?

If I add the theme css to the froala_widget.html.twig then it shows just fine.

<link rel="stylesheet" type="text/css" href="{{ asset( baseP

[2016-08-11 16:42] samarhxc commented on #21
I forgot to include the correct theme CSS, just fixed.

[2016-08-11 16:42] #21 closed

[2016-08-11 16:58] samarhxc commented on #14
This issue is fixed ?

[2016-08-11 16:59] samarhxc commented on #16
This issue is fixed ?

[2016-08-18 18:18] dcognata commented on #9
Same problem

[2016-09-08 11:56] es11400 commented on #17
I do not understand your answer, you do not help him.

¿Froala supports Admin Sonata?

[2016-09-09 00:28] samarhxc commented on #17
This issue describes an error in sonata form, i cant do anything without more informations or code.

[2016-09-09 00:30] samarhxc commented on #9
Yes, sometimes javascript files are not fully loaded, or some plugins are missing, need to investigate..

[2016-09-09 00:35] #16 closed

[2016-09-09 00:36] #14 closed

[2016-09-12 19:25] gacel112 commented on #9
I have the same problem.

[2016-09-27 01:05] jk- commented on #9
Samething happened to me. I put includeJS to false in the config.yml and then included it myself. That solved the problem.

[2016-09-27 06:44] gacel112 commented on #9
Me too.

[2016-11-20 17:27] jaroslavas opened #22 "Unlicensed Froala Editor"
After installing you bundle I'm getting this error instead of an editor. I'm not setting `serialNumber` in config.
Is there something wrong with my installation?

[2016-11-21 10:41] samarhxc commented on #22
The "Unlicensed Froala Editor" message is displayed if you didn't buy the editor, it's not an error.
If the editor is not displayed, i think you have another error in your browser console.

[2016-12-14 16:25] krisElphenor commented on #9
Same problem for me. But even after including the js manually, i still got the same error.

[2016-12-14 20:56] AngeloAvv commented on #16
I guess no, I'm having the same problem as mentioned by @prakashsinghgaur
Editor not showing up

[2016-12-14 22:30] gacel112 commented on #9
I solved, "Samething happened to me. I put includeJS to false in the
config.yml and then included it myself. That solved the problem."

2016-12-14 17:25 GMT+01:00 krisElphenor <notifications@github.com>:

[2016-12-15 08:39] krisElphenor commented on #9
@gacel112 Yes, I tried that as well, no luck so far...still getting the same error

[2016-12-15 09:53] krisElphenor commented on #9
I solved it by using the getScript function of jQuery.

`$.getScript("/path/to/js/froala_editor.min.js", function () {
    $( "textarea" ).froalaEditor({
        ...
    });
});`

Apparently, for me as well, the problem is the js not being fully loaded when the function froalaEditor is called. But i cant't explain why, even after loading the script manually both in the header and at the bottom of

[2017-01-16 12:28] mpaden3 opened #23 "font-awsome.min.css over http"
There is a problem with loading this css file. If your server doesn't allow http connections (just https), it wont be loaded. For some reason, only this file is loaded over http (unlike codemirror.min.css which is loaded over https.

I solved the problem adding by https link to this css file in my <head> element, but it should still be fixed in the framework itself.

[2017-01-16 15:26] samarhxc commented on #23
You're right, just fixed in last commit.

[2017-01-16 15:26] #23 closed

[2017-01-16 15:28] #22 closed

[2017-02-13 02:52] oukaria opened #24 "Iphone : click on Picture upload not working"
Hello,

There is a bug with the new version (v2.4.2) where you can't click on the "upload image" button on Iphone. The image upload popup closes and nothing happen.

If I click on the toolbar just on top of the input and then click the input it works. Maybe an error of CSS ? Tried some z-index all around the place but nothing fixed it.

Iphone 6 (ios 10.2) on Safari and Chrome. Tried with multiple

[2017-02-14 10:25] oukaria opened #25 "Upload to S3 with Symfony"
Hello,

I am implementing Amazon S3 on my project and while Froala supposed to be working with S3, I can't get it to work on this symfony Bundle.

Where should I put the backend generated response from the FroalaEditor/S3 client ?
I tried to put in in the FormType like

[code]
But it bug because of "convert object to string". Tried to put a json_encore but it's not interpreted by the template.

--

[2017-02-14 15:28] samarhxc commented on #25
Hello,

indead there are problems with complex objects.
I have to check another way to display it in Twig, JSON is not a bad idea, i'll do some tests.

[2017-02-15 11:01] samarhxc commented on #25
Hi,
just pushed an update to manage array/object option by a better way.
Let me know if your issue is solved.

[2017-02-21 14:12] treetop1500 opened #26 "Disabling Autosave not working"
Setting the config parameter for 'saveInterval' to 0 (zero) is not disabling autosave as it should according to the Froala Editor docs.

https://www.froala.com/wysiwyg-editor/docs/options#saveInterval

I noticed this after implementing the image and file upload concepts, that invoking those tools was causing the autosave to attempt to occur, then resulting in the alert message "The saveURL is not

[2017-02-21 14:43] treetop1500 opened #27 "quickInsertButtons config option missing"
This option appears to be missing from the config for your bundle. When trying to define this parameter in the config, it will throw an invalidConfigurationException:

[code]

https://www.froala.com/wysiwyg-editor/docs/options#quickInsertButtons

[2017-02-21 16:23] samarhxc commented on #27
Just added in the last commit.

[2017-02-21 16:23] #27 closed

[2017-02-23 15:19] samarhxc commented on #26
Fixed.

[2017-02-23 15:19] #25 closed

[2017-04-13 06:25] EricGrivilers commented on #16
Maybe the related assets are not installed.
`php bin/console assets:install`

[2017-04-19 13:28] nassuf opened #28 "Using KMSFroala with BeSimple/i18n bundle"
Hello,

When I am using Froala with i18n bundle I have this error:

That is because your OptionManager service expect a Symfony Router object in the constructor. Is it possible to change it to expect a RouterInterface so it will match the cases where people use tierce Router ?

Would then be:

Instead of:

Thanks

[2017-05-18 13:11] reypm opened #29 "Can be used this bundle as a WYSIWYG for Twig Templates?"
I will start developing a functionality for the application I am working on and I need to give the users the ability to edit templates (.html.twig files) on the fly. Think for example in a few email templates where the users would like to add some images, text, copyright and also dynamic content. Can this be done with this bundle? Can I take a template and let the user edit it and save it afterwar

[2017-05-31 16:23] lasanthaa commented on #16
I did step 1,2,3,4,5.But i do not know how to continue with step 6.Can someone help me?Is there any complete code for the form?

[2017-06-07 08:44] tagalpha opened #30 "[bug] Upload image on my server, Error 4 : Parsing response failed"
Hi,
When i want upload an image in froala editor i have this error :

![image](https://user-images.githubusercontent.com/6542512/26869340-638b69de-4b6c-11e7-95ac-6cf441d35fcd.png)

Error log :

![image](https://user-images.githubusercontent.com/6542512/26869856-3c6637a6-4b6e-11e7-916c-ed674cd3e777.png)

My code :

JS
[code]
Upload function:

[code]
What could be the problem?

[2017-06-12 08:38] lasanthaa opened #31 "Avairy Key integration failed."
Hi.
My i cannot integrate advanced edit into editor.I added my aviary api key and the script tag into this file in symfony: **symfony/KMSFroalaEditorBundle/blob/master/Resources/views/Form/froala_widget.html.twig.**
Script tag is
**<script type="text/javascript" src="{{ asset( basePath ~ 'js/third_party/image_aviary.min.js' ) }}"></script>**
I added button "aviary" to the editor also.
'imageReplac

[2017-06-13 10:29] matbuis opened #32 "Plugins Issues"
Hi !

Great work for the plugin, works like a charm.
I still got a problem, i found the way to display buttons in my toolbar but i can't use it. I mean when i click on the "colors" button for example, nothing's happening. I included all the js and css files following the good practices, but it still doesn't work.

I'm working with Symfony 3.2.9. I have to let it go for few days because i got other

[2017-06-14 20:11] samarhxc commented on #29
Hello,
sorry for late reponse.
Edited content is converted into HTML so i think you will not be able to edit TWIG file.

[2017-06-14 20:13] samarhxc commented on #31
Hello,
the Avairy integration will come in the next update (maybe tonight or next week).

[2017-06-14 20:14] samarhxc commented on #32
Hello Mathieu,
do you have any error in your browser's console ?
What kind of buttons is it ?

[2017-06-15 07:12] matbuis commented on #32
Hi.

I got no errors in console nor browser.
I displayed the buttons on the toolbar but when i click on the plugins buttons it doesnt work, nothing happens. The default toolbar buttons (bold, italic, underline...) work fine, but i need to use some plugins like "colors".

Thanks for the help i know it's not a lot of informations but i got no console message to share, that's why im here =)

[2017-06-19 18:58] treetop1500 commented on #26
This has recently started occurring again.  I had the dev-master branch running on a site, and we started receiving an error stating "Error 2: Something went wrong during save". Tracked it down to auto save trying to run (even tho "saveInterval" is set to 0).  I changed it to version ~2.5 and updated, made sure saveInterval was set to 0 in the config and commented out saveUrl and saveMethod, and n

[2017-06-26 09:39] lasanthaa opened #33 "Is there any way to change editor width and height in runtime?"
Hi..
Is there any way to change editor width and height runtime?
It is possible if we can send data from controller to config.yml or controller to froala_widget.html.twig.

Thanks

[2017-06-26 11:45] samarhxc commented on #33
Yes,
Froala has height and width properties : [https://www.froala.com/wysiwyg-editor/docs/options#height](https://www.froala.com/wysiwyg-editor/docs/options#height).

You can define these parameters in your config.yml file or in your form builder.

[2017-06-26 12:55] lasanthaa commented on #33
Hi..
But i think when i define width and height in config.yml it will be static.
eg-:
kms_froala_editor:
      height: 300
      width:300

How can i define it in formBuilder?

 $entity = new Example();
 $form= $this->createFormBuilder($entity)
                    ->add('Sticker',FroalaEditorType::class,array(
                         'required'   => true,
                           'width'     =>

[2017-06-26 13:14] samarhxc commented on #33
Yes,
all options can be overriden in the form builder : [https://github.com/froala/KMSFroalaEditorBundle#step-6--add-froala-to-your-form](https://github.com/froala/KMSFroalaEditorBundle#step-6--add-froala-to-your-form)

[2017-06-26 13:48] lasanthaa commented on #33
Hi..
**But it is not working for me**

This is my full builder class ExampleType
![image](https://user-images.githubusercontent.com/12367805/27542109-dcf5033e-5aa3-11e7-96e1-81787371eb6c.png)

This my controller function.
![image](https://user-images.githubusercontent.com/12367805/27542161-08df7e98-5aa4-11e7-90cf-42a8535b1abf.png)

[2017-06-26 14:41] samarhxc commented on #33
Not sure if it's important but width and height are numbers, not string.

[2017-06-29 10:47] stefanneculai commented on #30
@tagalpha could you please let us know your jQuery version?

[2017-06-29 12:40] tagalpha commented on #30
I use Jquery 2.2.0

[2017-06-29 18:13] stefanneculai commented on #30
The response appears to be formatted correctly. Would it be possible to send us a link where to replicate it?

[2017-07-03 07:43] tagalpha commented on #30
I don't understand what you want exactly. I haven't acces to prod server this website is in developpement.

[2017-07-03 09:58] stefanneculai commented on #30
If you cannot provide us access to the page where you have this problem, could you then make a screenshot of the response in the Network tab of the Chrome Developer Tools?

<img width="1440" alt="screen shot 2017-07-03 at 12 57 20" src="https://user-images.githubusercontent.com/637004/27787923-39074ce0-5fef-11e7-8529-5a100e66bf6f.png">

[2017-07-03 12:54] tagalpha commented on #30
![image](https://user-images.githubusercontent.com/6542512/27793736-8c7da148-5fff-11e7-8461-c30a62564199.png)

[2017-07-04 09:18] stefanneculai commented on #30
The problem is actually from your side, not from the implementation. You do the following:
[code]

`uploadUrl`, `uploadParam` and `uploadParams` are not defined and the editor fails to read the response correctly.

[2017-07-04 09:18] #30 closed

[2017-07-10 09:37] matbuis commented on #32
Hi there !

I was away from my project for few weeks. Now i can give you the exact includes i made to use your editor.

Here are the scripts i want to use (pretty simple) :

`<script src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.5.1/js/froala_editor.min.js') }}"></script>
    <script src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.5.1/js/languages/fr.js') }}"></script>
    <script

[2017-07-11 11:21] #32 closed

[2017-07-27 15:04] UFTimmy opened #34 "Language has to be configured"
Howdy,

The readme says "Step 5 : Configure the bundle (optional)", but this step is not really optional. Language is required, as seen here:

https://github.com/froala/KMSFroalaEditorBundle/issues/16#issuecomment-219664626

So I think the docs should give the minimum required configuration in one section, and then another section about optional configuration.

If you agree, I don't mind updating

[2017-07-30 15:50] samarhxc commented on #34
Yes you're right, i changed the documentation.
Thx!

[2017-07-30 15:50] #34 closed

[2017-07-30 15:51] #29 closed

[2017-07-30 15:51] #33 closed

[2017-07-30 15:54] samarhxc commented on #28
Fixed: #34

[2017-07-30 15:54] #28 closed

[2017-08-19 13:52] marvin-SL opened #37 "can't change language"
hello,

I can't switch language. It stays to default language. Here's my config.yml :
[code]
my forms :
[code]
I've tried to clear cache, it 's still in english
Can you help me ?

Symfony 3.3.4

[2017-08-22 10:49] stefanneculai commented on #37
@marvin-SL I believe somehow the language file is not included. Do you have a page where we can check? Thanks.

[2017-08-25 15:55] samarhxc commented on #31
Hello,
I just pushed the enhancement.
Feel free to reopen if it's not ok.

[2017-08-25 15:55] #31 closed

[2017-08-29 08:13] maryamezzaty24 commented on #17
I have this problem too
can you give me a solution?

[2017-11-07 11:56] chhoulet opened #38 "FroalaEditor doesn't show anything"
May I did a mistake in my config ?
I follow all the steps, but nothing appears. Here my config:

config.yml:
`kms_froala_editor:
    language: "fr"
`

My ArticleType.php:
use KMS\FroalaEditorBundle\Form\Type\FroalaEditorType;

class ArticleType extends AbstractType
{
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder->add('title', TextType::class, a

[2017-11-07 13:17] samarhxc commented on #38
Hello,
do you have something in the console ?

[2017-11-07 15:37] chhoulet commented on #38
Hello,

Thanks for your help. That's what I get in the console (error message in red color):
GET http://localhost/alecHabitat1/web/bundles/kmsfroalaeditor/froala_editor_2.7.1/js/third_party/sp...

Here the header of th response

Cache-Controlno-cache, privateConnectionKeep-AliveContent-Length471Content-Security-Policyblock-all-mixed-content; font-src 'self' 'unsafe-inline' https://fonts.googleapis

[2017-11-09 23:32] diaboloshogunate opened #39 "Symfony 4 support"
Can you add in symfony 4 support?

[2017-12-05 06:15] #26 closed

[2017-12-05 06:16] samarhxc commented on #38
Did you solve your problem?

[2017-12-05 15:28] xpersonas opened #40 "Support for EasyAdminBundle"
I have been liking the EasyAdminBundle for quickly setting up an admin with crud operations. They have instructions for adding ckeditor, but Froala is far superior.

https://github.com/javiereguiluz/EasyAdminBundle

This is a feature request, unless this can already be done and I'm just failing, to be able to add Froala integration with forms generated by EasyAdminBundle.

[2017-12-05 17:53] samarhxc commented on #40
According the documentation, you juste have to setup correctly EasyAdmin with Froala type :

https://symfony.com/doc/current/bundles/EasyAdminBundle/integration/ivoryckeditorbundle.html#using-the-rich-text-editor

What is the error ?

[2017-12-05 18:12] xpersonas commented on #40
Yeah, that's what I was thinking. But no matter what "type" I try in the EasyAdmin config, I get an error...

`Could not load type "froala"`

I tried using "froala", "FroalaEditorType", and a couple of other long shots. But seems it should just be "froala".

`InvalidArgumentException
in vendor/symfony/symfony/src/Symfony/Component/Form/FormRegistry.php (line 85)

FormRegistry->getType('froala') in

[2017-12-05 18:32] xpersonas commented on #40
That worked. Thank you! I'm an idiot. I had tried "KMS\FroalaEditorBundle\Form\Type" earlier, but forgot to actually have the name at the end. Thank you for taking the time to troubleshoot that with me.

[2017-12-05 18:32] #40 closed

[2017-12-06 16:30] amadohin opened #41 "How to implement Video Upload?"
Hi, how can I implement the Video Upload in Symfony 3?

[2017-12-06 16:52] chhoulet commented on #38
No, but a professionnal team is now in charge of the website.
Thank you very much for your support.
Christophe Houlet

      De : Simon Guionniere <notifications@github.com>
 À : froala/KMSFroalaEditorBundle <KMSFroalaEditorBundle@noreply.github.com>
Cc : Houlet Christophe <chhoulet@yahoo.fr>; Author <author@noreply.github.com>
 Envoyé le : Mardi 5 décembre 2017 7h16
 Objet : Re: [froala/KMSFroala

[2017-12-06 17:53] #38 closed

[2017-12-06 17:54] samarhxc commented on #41
Hi, just use the video plugin.

[2017-12-08 17:07] xpersonas commented on #26
I can confirm that I'm receiving the error "Error 1. Missing saveUrl option" as well using 2.7.2.

[2017-12-11 12:44] martinopic opened #42 "Profiles"
It would be useful to have the possibility to manage different configuration profiles and then using them by specifying a "profile" option on the Type.

something like:

[code]

and then applying it with

[code]
If you agree with the feature I could provide a pull request for the implementation.

[2017-12-11 15:48] martinopic opened #43 "Events handling"
Currently there is no way to handle events, it would be nice to have an additional options for the type:

[code]
I've already implemented this on an extension I made for a project but I think it would made a nice addition to the bundle, if you are interested I'd make a pull request.

[2017-12-13 11:48] samarhxc commented on #42
I think it's a good idea.
But it will be better without breaking actual configuration.
If you have a PR i can merge.

[2017-12-13 11:49] samarhxc commented on #43
You're right it's a good idea.
I can merge your PR or add this in the next update.

[2017-12-19 14:07] #42 closed

[2017-12-19 14:07] #43 closed

[2017-12-19 14:07] #41 closed

[2018-01-18 18:20] amadohin opened #47 "Incompatible jquery Version"
Hi! I'm having a trouble with Froala Editor in Sonata Admin.

I'm using _datetime type_ and other fields, when I activate the Jquery inclusion in Froala config, the other fields don't work.

If I desactivate the jQuery inclusion the other fields work, but the froala type works unexpectedly

Here all is appearelly ok

![image](https://user-images.githubusercontent.com/27931966/35114262-c21da37a-fc4

[2018-01-19 15:50] samarhxc commented on #47
Hi,
you have to include JQuery only one time.
I think the best solution is :
- desactivate the JQuery inclusion in Froala configuration
- update your JQuery version to (at least) 1.11

[2018-02-05 10:38] #39 closed

[2018-02-05 13:47] jmsche opened #49 "Upgrade help"
Hi,

I'm wondering how I can help to upgrade the frontend files? Some upgrade process I can reproduce and then send some PR?

Something like this? :

* Remove `froala_editor_x.y.z` directory in `Resources/public`
* Add new files in `Resources/public/froala_editor_a.b.c`
* Update `$OPTIONS_STRING_CUSTOM::basePath` in `Utility/UConfiguration.php`

[2018-02-05 13:57] samarhxc commented on #49
Hi,
you have an option to change the base path if you want to use another Froala in your resources folder.

[2018-02-05 13:59] jmsche commented on #49
My point is to help update this bundle, not only my project :)

[2018-02-05 14:08] samarhxc commented on #49
What kind of improvements do you want to make ?
I think we have to keep the original Froala folder "froala_editor_x.y.z" to avoid version inconsistency.

[2018-02-05 14:08] jmsche commented on #49
I'd just like to upgrade the original Froala which is included in this bundle

[2018-02-05 14:14] samarhxc commented on #49
I planned to do this update today or tomorrow, it's a quick update but i need to add new options.

[2018-02-05 16:54] samarhxc commented on #49
Update just pushed.

[2018-02-05 16:54] #49 closed

[2018-02-09 15:39] #37 closed

[2018-02-09 15:39] #24 closed

[2018-02-11 04:10] MaSt3r-iLLuSioN opened #50 "Dependency Injection not working for the FormType (Symfony 4)"
When trying to add this type as a field to my form it says that o arguments were passed and the constructor was expecting 4 in FroalaEditorType class. My Symfony version is 4. What are the exact steps to set this up with Symfony 4?
Thanks for your time.

[2018-02-12 08:13] miojamo opened #51 "An exception has been thrown during the rendering of a template"
In Symfony4 editor is not working:

An exception has been thrown during the rendering of a template ("The "templating.helper.assets" service or alias has been removed or inlined when the container was compiled. You should either make it public, or stop using the container directly and use dependency injection instead.").

{{ froala_display(form.content) }}

[2018-02-12 14:57] stefanneculai commented on #51
@samarhxc I think we should replace the `templating.helper.assets` with `assets.packages` here:

https://github.com/froala/KMSFroalaEditorBundle/blob/5cbf5227a91caf0a6f9cad0d86c5dc9b6524076e/Twig/FroalaExtension.php#L54

What do you think?

[2018-02-12 15:01] samarhxc commented on #51
Maybe,
but i'm not using Sf 4 for the moment.
I have to install clean version of Sf 2, 3 and 4 to test all versions.

[2018-02-16 10:16] miojamo commented on #51
Hi, any news about it? Thanks,

[2018-02-25 17:49] #47 closed

[2018-02-25 21:57] samarhxc commented on #50
Can you show your code ?

The following line is working on Sf4 👍
`$form = $this->createFormBuilder( $data )->add( 'editor', FroalaEditorType::class, array(
				"language" => "fr",
			) )->getForm();`

[2018-02-26 00:02] samarhxc commented on #50
Can you show some code ?

The folloing code is running on my Sf4 fresh install.
`
$data = array();
			$form = $this->createFormBuilder( $data )->add( 'editor', FroalaEditorType::class, array(
				"language" => "fr",
			) )->getForm();
`

[2018-02-26 00:05] samarhxc commented on #51
I just tried on fresh Sf4 install and all is working.
But you need to include the following bundles :

`
"symfony/asset": "^4.0",
"symfony/twig-bundle": "^4.0",
`

In your bundles.php file you have to include Froala after those two bundles.

I continue testing because my profiler is broken.

[2018-03-12 11:10] mapretel opened #53 "Parsing response failed when uploading image (.NET)"
Hello,

I'm having a problem when doing the response parser, in question FROALA gives me the error: "Parsing response failed.", although the object obtained is the following "{"link":"Upload/1695423b.png"} "

The image is correctly uploaded to the server, the path to which the test is referenced in the browser and the image looks correct, but still gives the error What is happening?

I have the la

[2018-03-13 08:01] sguionni commented on #53
Hello,
you are in the wrong place, this is a repository for the Symfony integration in PHP.
You have to go there : https://www.froala.com/wysiwyg-editor/docs/sdks/dotnet

[2018-03-13 08:01] #53 closed

[2018-03-13 16:47] adrienlamotte opened #54 "Upload - Symfony 4 - The "kms_froala_editor.media_manager" service or alias has been removed or inlined when the container was compiled."
Hello !

When trying to upload a file, the routes for file management seems to be broken.
Here is the error message :

[code]

[2018-03-14 11:49] adrienlamotte commented on #54
Fixed it for now using :

[code]

[code]

And removing the lines :
```$mediaManager = $this->get( "kms_froala_editor.media_manager" );```

[2018-03-14 12:11] sguionni commented on #54
Thanks for your contribution, i will push this with the last Froala release.

[2018-03-22 18:05] gotzmann commented on #17
Are there any solution for this issue?

[2018-03-29 00:03] jordisala1991 commented on #17
https://github.com/froala/KMSFroalaEditorBundle/blob/master/Form/Type/FroalaEditorType.php#L98

Are you removing every custom paramter for the view that does not come from Froala? That could cause issues with how Sonata render forms, probably

[2018-04-09 08:42] 01e9 opened #55 "Array keys assumed to be unset are not checked before accessed"
https://github.com/froala/KMSFroalaEditorBundle/blob/a6555e02d34481196b6cb9e1c458264b4290647c/Service/OptionManager.php#L125-L130

When I add in config:

[code]

I get

[code]

If I set `false`

[code]

it works because this check passes

https://github.com/froala/KMSFroalaEditorBundle/blob/a6555e02d34481196b6cb9e1c458264b4290647c/Service/OptionManager.php#L148

but you may change that check in fu

[2018-04-25 19:36] DanielInk opened #56 "Events don't trigger on popup windows."
# Symfony 4

##### Expected behavior.
Popup windows should close when close button is pressed.
Image manager should select and load the image when it is selected.

##### Actual behavior.
The close button and the image manager are not working properly when a component is clicked [the component's event is not triggered]

![screen shot 2018-04-25 at 1 29 59 pm](https://user-images.githubusercontent.c

[2018-04-26 15:47] DanielInk commented on #56
It is fixed, it was because i was using a newest version of [font awesome ](https://fontawesome.com/)

[2018-04-26 15:47] #56 closed

[2018-04-27 07:56] mjelcic commented on #54
Hi,
I've got the same problem, but it doesn't get fixed with this solution that adrienlamotte suggested.
My error is:
[code]

My symfony version is 4.0.8

Can anyone help?
Thanks.

[2018-04-27 09:35] adrienlamotte commented on #54
@mjelcic In `kms/froala-editor-bundle/Controller/MediaController.php` you have to remove the lines :
```$mediaManager = $this->get( "kms_froala_editor.media_manager" );```
and replace `$mediaManager` by `$this->mediaManager`

Works fine here with Symfony 4.0.8 :smile:

[2018-04-27 10:14] mjelcic commented on #54
Thank you Adrien, but It doesn't work again. I am not so experienced so probably I am doing something wrong.

This is my services.yml
[code]

In this services.yml file a replaced this code:
 `    kms_froala_editor.media_manager:
        class: "KMS\\FroalaEditorBundle\\Service\\MediaManager"`
with the code that you suggested (you didn't say to replace, but I wasn't sure what to do)

And this is my

[2018-04-27 10:55] mjelcic commented on #54
@adrienlamotte
I put your code to the end of services.yml and it look like this now:

[code]

I cleard the cache too, but again it doesn't work.

The error is different now:

`Type error: Argument 1 passed to KMS\FroalaEditorBundle\Controller\MediaController::__construct() must be an instance of KMS\FroalaEditorBundle\Controller\MediaManager, instance of KMS\FroalaEditorBundle\Service\MediaManager

[2018-04-27 11:00] adrienlamotte commented on #54
@mjelcic check your `use` statements on top of `MediaController.php`... You should have :
```use KMS\FroalaEditorBundle\Service\MediaManager;```
and not :
```use KMS\FroalaEditorBundle\Controller\MediaManager;```

[2018-04-27 11:39] mjelcic commented on #54
@adrienlamotte
Thank you for your help.
Looks better, but still it doesn't work.
Now the error is:
`Image cannot be loaded from the passed link.`
and
`The requested resource /upload/d260f44127177c057a73787ccc4cb690ddfb6b0f.png was not found on this server.`
Looks like it finishes upload without error, but nothing is uploaded and then it cannot read the uploaded image.
I also noticed that it doesn'

[2018-04-27 11:45] adrienlamotte commented on #54
@mjelcic in your project `config/services.yaml` where you have your froala config, you can set the upload path, for ex :
[code]
and be sure the folder is writable ?

[2018-04-27 12:09] mjelcic commented on #54
@adrienlamotte
It doesn't help.

`The requested resource /uploads/img/2c74c79d22a3ef444251724ba071999eaed38eb9.png was not found on this server.`

In my `config/services.yaml` I have this code:

[code]

I tried with different folders and they were all writable, but it doesn't help.
Seems to me that it isn't problem with path, but the problem is that it doesn't get the correct image name.

Is my km

[2018-04-27 12:18] adrienlamotte commented on #54
Hum... Check the path inside `kms/froala-editor-bundle/Service/MediaManager.php` around line 334 :
[code]

[2018-04-27 12:27] mjelcic commented on #54
Now it works. Thank you very much. You helped me a lot.

The previous code was:
[code]
I just put your code:
[code]
and it works.

[2018-04-27 12:30] adrienlamotte commented on #54
Glad it works !
Yes the `web` folder was renamed to `public` in SF4, I forgot I made that change too...

[2018-04-27 12:40] mjelcic commented on #54
I just noticed that it created web folder, and all the time it was uploading in it, but I was only checking public folder :-)

[2018-05-07 14:26] diimpp opened #58 "[Help Needed] How to provide dynamic ID for auto-save usage"
Hey guys,

I've have several instances of froala editor through the site, so I need to different them by ID for auto-save feature.

So how do I do it?

From documentation,
[code]

but what's that suppose to mean? It will send some div contents with auto-save data or what?
I've tried to put js function into it, css id, whatever, it's just send text value back to me, so in my experience `saveURLPara

[2018-05-07 15:27] sguionni commented on #58
Hi,

i actually use this feature.
Simply add your params in your form builder:

`
public function buildForm( FormBuilderInterface $builder, array $options )
		{
			$idLang           = $options[ "id_lang" ];
			$idModuleInstance = $options[ "modulable" ]->getModuleInstance()->getId();
			$folderUpload     = UFile::getFolderUpload( $options[ "app" ] );
			$pathUpload       = UFile::getPathUpload( $o

[2018-05-07 19:55] diimpp commented on #58
@sguionni thank you, Simon! That's really helps, I wasn't aware, that froala option could be provided per instance via form type configuration.

[2018-05-07 20:11] #58 closed

[2018-06-04 08:17] jmsche opened #61 "Drop Symfony 2 support?"
Hi,

I'm wondering if Symfony 2 support should be dropped or not, as maintaining it becomes harder and harder - especially if support is for 2.3+.

Eg. Symfony 4.1 throws deprecations for the routing controller format - should be `KMS\FroalaEditorBundle\Controller\MediaController::uploadImageAction` instead of `KMSFroalaEditorBundle:Media:uploadImage`.
If I'm not wrong, this notation is available

[2018-06-05 15:26] hermann8u opened #62 "2.8.1 version bug"
Hi,
I got a bug with the 2.8.1 version because the default configuration for basePath is referencing the old 2.7.5 assets version.

To fix this, change the basePath config to "/bundles/kmsfroalaeditor/froala_editor_2.8.1"

[2018-06-05 23:10] #62 closed

[2018-07-07 21:29] lexeo commented on #51
Hi. I've just installed Symfony 4.1 and ran into the same issue.
Found [this solution](https://stackoverflow.com/questions/51132590/symfony-upgrade-to-4-1-assets-error).

Also I got exception: `The "kms_froala_editor.media_manager" service or alias has been removed or inlined when the container was compiled. You should either make it public, or stop using the container directly and use dependency

[2018-07-20 09:41] #54 closed

[2018-07-22 10:42] adrienlamotte opened #65 "Image Manager - Any way to restrict to the owner only ?"
Hello !

The Image Manager plugin is pretty cool, but all users have acces to everyone uploads...
Can't really use that in production, because I use Froala in my admin area and in the front too for logged users.

Do you have any idea on how to restrict listing to user's only uploads ?

Thank you !

[2018-07-23 17:44] sguionni commented on #65
Hello,
the upload folder is configurable in your config file, or in the form builder.
You can specify a different one for each user by this second way.

[2018-07-23 18:15] adrienlamotte commented on #65
Thank you @sguionni I didn't know it was configurable in the form builder !
It works great, just has to set a subfolder using the user ID.

[2018-07-23 18:15] #65 closed

[2018-08-01 08:59] adrienlamotte commented on #54
@L0kidor Hello, this was fixed in the latest version. Now you can configure the path in your conf file :
[code]

[2018-08-02 14:18] phillharmonic opened #66 "Uncaught ReferenceError: $ is not defined"
I'm using Symfony 4 & Webpack.  Installed per instructions and am getting the above error in the browser's console.  The following statement is throwing the error:

[code]
kms_froala_editor.yaml:

[code]

My layout.js that includes the required js:

[code]
A quick scan of the page shows that all javascript files that are required (jquery & froala) are being included.  I suspect it's an issue of "$

[2018-08-02 14:35] L0kidor commented on #54
Thx !!

Sorry for missing that in the readme !

[2018-08-02 18:32] phillharmonic commented on #66
I use Encore for my webpack.config.js file:

[code]

' .autoProvidejQuery()' fixes that issue for modules that expect jQuery to be global; unless I'm not understanding correctly.

Thanks.

[2018-08-02 20:17] phillharmonic commented on #66
@stefanneculai not sure why you closed this issue.  It has not been resolved.

[2018-08-03 16:18] stefanneculai commented on #66
@phillharmonic it looks like there is a problem with Encore: https://github.com/symfony/webpack-encore/issues/52.

[2018-08-03 16:38] phillharmonic commented on #66
@stefanneculai: thanks for the reference.

FYI, I did the following in Encore (according to your referenced bug work-around) and the issue persists:

[code]
All other jQuery references in my Project work as expected.  Just not kms_froala_editor.

Looks like I'll need to source another wysiwyg editor.

Thanks.

[2018-08-06 09:16] L0kidor opened #67 "How to handle Images/Files deletion via events ?"
Hi, i'm trying to use the remove image/file function when a user delete it from the editor.

It seems that events aren't handled identically in KMS/froala than in other classic versions.

The docs don't mention it, but I found [this issue #43](https://github.com/froala/KMSFroalaEditorBundle/issues/43)  wich is talking about event handling.

I tried to define a JS function (called deleteImage) wich

[2018-08-06 18:11] stefanneculai commented on #66
is there any difference if you use `includeJQuery: false`?

@sguionni any idea where the problem might come from?

[2018-08-07 12:32] sguionni commented on #66
I think this is related to issue #9
You can try to disable all JS inclusion and include Froala by youself.

[2018-08-07 12:45] sguionni commented on #66
@phillharmonic what's the JS error given by the console ?

[2018-08-07 13:39] phillharmonic commented on #66
Console Error:

Line 360:
[code]

[2018-08-07 14:27] sguionni commented on #66
Do you include your JS files into the head or at the end of the body ?

[2018-08-07 14:34] phillharmonic commented on #66
Typically at the end. However, I just switched them all to the head and the error persists.

[2018-08-13 11:32] kevinimbrechts commented on #66
I have the same issue. Did you found a solution ?

[2018-08-13 16:56] phillharmonic commented on #66
Not yet, unfortunately.

[2018-08-14 07:10] kevinimbrechts commented on #66
I just realized that the developers did not put these lines at the top of their app.js.
[code]

[2018-08-14 16:03] phillharmonic commented on #66
@kevinimbrechts : did you get it to work?  If so, how exactly?  I added those lines to froala_editor.min.js, is that what you mean?  I couldn't find an app.js in their plugin.

[2018-08-14 16:25] kevinimbrechts commented on #66
Yes it works. The app.js is a custom js file.
I have added this file in webpack.config.js file.

[2018-08-20 15:01] phillharmonic commented on #66
@kevinimbrechts : forgive my ignorance.  I'm not sure I follow.  Did you add the app.js file to your app's webpack.config.js file with:

`.addEntry('app.js', './assets/js/app.js')`

And then in that app.js file add:

[code]

If so, I did this and am still unable to get it to work.  Also, I am already importing in my webconfig:

`import $ from 'jquery';`

If you could help sort me out, I'd apprecia

[2018-10-15 01:49] somoza commented on #9
Same here... No solution jet?

[2018-11-21 16:20] pushand commented on #9
Why don't you guys start with simple JS integration guide and then start with bundle guide

[2019-01-15 14:33] jmsche commented on #61
Hi @sguionni, what do you think about this issue?

Could the bundle drop support for Symfony < 3 (or even < 4)?

[2019-01-21 13:01] stefanneculai commented on #61
@jmsche @sguionni I believe we could make a separate branch for Symfony 2 / 3 and then continue with master on Symfony 4. What do you think?

[2019-01-21 13:05] jmsche commented on #61
@stefanneculai I'm ok with that, but we should change the release process / tagging; IMO making a release for each Froala editor version is not great :/

What about creating a download command like FOSCKEditorBundle does? Seems to work well.

Also, we could list other stuff we'd want to do if we break the current release process. Eg. phpstan/phpcs integration?

[2019-01-21 13:16] stefanneculai commented on #61
Looking for some input from @sguionni. Thanks in advance.

[2019-01-25 15:00] sguionni commented on #61
Hi,
i think we could split master into separate branch for each Symfony version.

But we need to change the  tagging method as you noticed.
Maybe something like this :
2.2.9.1 for Froala 2.9.1 under Sf2,
3.2.9.0 for Froala 2.9.0 under Sf3 etc...

Actually i'm not using Symfony anymore, so my old project is still in Sf 2, i can maintain this version.

[2019-01-29 09:58] jmsche commented on #61
If you're ok with this I'd be more in favor (at least for new releases that wouldn't support Symfony 2 anymore) for a download command, as described in my previous comment.

So new releases would bring new features, and developers wouldn't rely on a new release of this package to use the latest Froala Editor release :)

An other issue with your tagging proposal is, introducing tags like `2.2.9.1`

[2019-01-29 12:22] stefanneculai commented on #61
I think we could actually make a separate branch for S2 and keep master branch for S3/S4. On the branch with S2, we can just rename the package to KMS2-FroalaEditorBundle and keep the same tagging as up to now.

I am good with the command, @jmsche. Do you think you could make a PR for it?

[2019-01-29 12:37] jmsche commented on #61
I guess I could, but I'm going to need some time for that :) And for Symfony 4 deprecations removal as well.

Also I'd like your feedback (from both of you :)) about the following topics:

- phpstan integration
- phpcs integration
- adding tests

I guess the last point won't be an issue :D

[2019-02-03 09:52] seddighi78 commented on #9
Same problem ...

[2019-02-19 15:40] bitlbot opened #74 "Font Awesome 3rd Party Plugin not enabled in config"
It appears that the Font Awesome plugin config is not included in the **$ARR_PLUGIN_CONFIG** in the **PluginProvider.php** to get that functionality.

I added
```"font_awesome"       => [ PluginProvider::KEY_CSS => 1, PluginProvider::KEY_FOLDER => PluginProvider::VALUE_THIRD_PARTY ]```
to the end of the array (in the "Third party" section) and it worked.
Oh, I also had to explicitly load the plugi

[2019-02-22 08:16] Parashuram-Sram commented on #67
@L0kidor can you please try naming the event as "froalaEditor.image.removed" ? It has worked for me.

[2019-02-22 09:26] L0kidor commented on #67
Hi, gonna try as soon as possible.
Thx

[2019-02-26 11:23] #67 closed

[2019-02-27 04:01] Parashuram-Sram commented on #51
Hi,
I have tried fresh installation of Symfony 4.2.3 and it looks working fine. Anyone still facing the issue?

[2019-03-01 12:12] stefanneculai commented on #51
Looks like on S4.2.3 this is no longer happening.

[2019-03-01 12:12] #51 closed

[2019-03-04 15:17] nicola-de-smet commented on #16
I've got the same issue ! I followed the insctructions but the editor not showing up only a textarea. Did you find a solution @AngeloAvv, @prakashsinghgaur, @sguionni

[2019-03-04 15:28] sguionni commented on #16
Can you copy/paste your configuration ?
Do you have any error in your console ?

[2019-03-05 10:44] nicola-de-smet commented on #16
I don't have much time this week. I will try to do it next week !

[2019-03-05 10:51] #74 closed

[2019-03-05 10:52] #55 closed

[2019-03-09 09:21] AngeloAvv commented on #16
I'm sorry @nicola-de-smet but I no longer use Symfony. As far as I can remember, I migrated to another editor since I didn't received any further intel on how to let it work.

[2019-04-14 01:37] bhtomming commented on #17
I have the same error "Impossible to access an attribute ("options") on a null variable."
in sonataAdminController method like this:

use KMS\FroalaEditorBundle\Form\Type\FroalaEditorType;
public function configureFormFields(FormMapper $form){
    $form->add('description',FroalaEditorType::class)
}
I dont know what happend!

[2019-04-19 06:45] mounikasure commented on #55
Verified
![image](https://user-images.githubusercontent.com/47237466/56410911-835f6c80-629c-11e9-8a9e-17c5c36dae8f.png)
![image](https://user-images.githubusercontent.com/47237466/56410979-bbff4600-629c-11e9-9d9f-a3ac8dbec733.png)

[2019-04-19 06:58] mounikasure commented on #74
Verified font_awesome is included for Symfony
![image](https://user-images.githubusercontent.com/47237466/56411481-88bdb680-629e-11e9-846a-6b9a529fe972.png)

[2019-04-23 10:55] mounikasure opened #86 "Drop-downs of second tool bar are not opening when text is selected in IOS"
set
paragraphStyles: {
    class1: 'Class 1',
    class2: 'Class 2',
    class3: 'Class 3'
  }
Drop-downs of second tool bar  are not opening when text is selected.

[2019-04-23 10:56] #86 closed

[2019-04-23 10:56] mounikasure commented on #86
logged by mistake

[2019-05-17 11:46] timoziemann opened #87 "Attempted to load class "Inflector" from namespace "Doctrine\Common\Util"."
Hi,

I have an issue on Symfony 4.2.8 and current dev-master with this line:
`$p_view->vars [ "arrOption" ][ "pluginsEnabled" ] = $this->m_pluginProvider->obtainArrPluginCamelized( $arrPlugin );`

![Bildschirmfoto 2019-05-17 um 13 43 24](https://user-images.githubusercontent.com/428303/57925863-f3680f00-78a9-11e9-9b18-29d2b523b330.png)

Occurs when rendering the form in a twig template. If I comme

[2019-06-19 08:51] jmsche opened #90 "Documentation follow-up for the massive upgrade"
See PR #89 for reference.

Some things have to be changed in the README:

* Install guide:
    * using Flex
    * not using Flex, including the following details:
        * routing configuration
        * service configuration, with template
* Symfony version: 4.3+
* Link to previous docs, according to the following decision that's about to happen in #89 about branches & tags
* Remove references t

[2019-06-19 08:57] jmsche opened #91 "Code style/static analysis"
Hi @sguionni,

I'm wondering if you're open to a massive code refactor? Here's what I'd like to do:

* Setup phpstan for static analysis
* Setup phpcs (not many rules, eg. enforce spaces instead of tabs, short array syntax...) for code style
* Remove useless comments & rename some parameters (maybe functions too)
* Setup a travis config to make phpstan/phpcs run for PRs

WDYT?

[2019-06-19 08:58] jmsche commented on #61
Added most of the changes (install command, Symfony 4.3+ support, Symfony 2/3 support removal...) into PR #89.

Opened issues #90 for docs update & #91 about code style/static analysis.

[2019-06-19 08:58] #61 closed

[2019-06-19 09:18] sguionni commented on #91
I think it's a good idea, i started this bundle long time ago and i have no time to maintain it anymore, so go ahead!

[2019-06-19 09:19] jmsche commented on #91
Thanks, I'll start working on it after the docs update :)

[2019-08-02 09:45] SlimenTN commented on #51
@lexeo can you be specific please ? where exactly should I put `public: true` ?
this is my `services.yaml` file:
[code]

[2019-08-02 10:02] SlimenTN commented on #51
so the solution is to call the service inside `services.yaml` file and make it public like so:
[code]

[2019-08-19 20:36] jmsche commented on #90
Fixed via #94; needs a little update in v2 branch as well

[2019-08-19 20:56] jmsche commented on #90
v2 docs will be fixed by #99

[2019-08-19 20:56] #90 closed

[2019-10-01 12:06] jmsche commented on #87
@sguionni This is now fixed with v3 as doctrine/inflector is required in composer.json file

[2019-10-01 12:20] sguionni commented on #87
Thanks!

[2019-10-01 12:20] #87 closed

[2019-11-08 17:34] Sophikitis opened #107 "Editor not display with toolbarinline option is true"
Hello,

So before I ask you all my questions, I use EasyAdmin.

My first problem, when I change the "toolbarInline" option to true in my "kms_froala_editor.yaml" file (fig1), the editor does not display (fig2) whereas if I change it to false, it displays but without the toolbar being displayed online. (fig3)
Do you know where the problem may come from?
fig1 :
![Capture d’écran 2019-11-08 à 18 29

[2019-11-13 10:23] sguionni commented on #107
Hello,
do you have any error in the console ?
I don't use EasyAdmin but something can be in conflict.

[2019-11-13 10:35] sguionni commented on #107
For you questions about image upload, you can find your answers in the [official documentation](https://www.froala.com/wysiwyg-editor/docs/concepts/image/upload).

[2019-11-13 12:56] Sophikitis commented on #107
Hi,
Thank you for your answer.
I don't have any errors in the console, but from my research it seems that the "inline" option is only available for those who have a license. But in the end, it doesn't bother me because we can then configure the toolbar, so it's okay!

I don't go through formbuilder, in the easyadmin configuration file, I give it the type "**froalaEditorType**". (fig1)

![Capture d

[2019-11-17 10:07] skamsie commented on #9
having the same problem and none of these suggestions work

[2019-11-25 10:41] sguionni commented on #107
Hello,
i'm sorry but i don't know how to use EasyAdmin.
Parameters seems to be statics, and you need to change it dynamically (like form builder).

[2019-11-28 16:56] Sophikitis commented on #107
It's okay, I managed to do what I wanted.

In the file easy_admin.yaml, I added the addition of a "custom controller" which is specific to the "articles" entity (in my case)

![Capture d’écran 2019-11-28 à 17 25 38](https://user-images.githubusercontent.com/33518344/69822434-a674d600-1206-11ea-8dc7-5ce778785f0b.png)

In my controller I extend my class with EasyAdmin.

I overload the createEntity

[2019-11-28 16:56] #107 closed

[2020-01-12 10:33] Levii01 commented on #9
Also same

[2020-01-23 08:00] GovardhanCel opened #110 "Alert is seen after image or video uplaod and click outside"
**Description**
Alert is seen after image or video uplaod and click outside.

**Expected behavior.**
After image uplaod and click outside, browser should not display any alerts.

**Actual behavior.**
Alert is seen after image or video uplaod and click outside.

**Editor version.**
Latest

**Additional resources**
![Plugins-Symfony-FROALA](https://user-images.githubusercontent.com/43410193/72963382

[2020-01-23 10:16] sguionni commented on #110
This is the auto save option.
Try to disable it or configure the URL.

[2020-01-23 18:20] #110 closed

[2020-02-22 05:11] MaSt3r-iLLuSioN commented on #50
Sorry form my long delay in response, I have since sorted this out (misunderstanding on my end).

[2020-02-22 05:11] #50 closed

[2020-03-20 01:51] l396635210 commented on #17
I have the same error  in SonataAdmin, and I
remove this file 'vendor/kms/froala-editor-bundle/Form/Type/FroalaEditorType.php'
this function buildForm  body content
`foreach( $p_options as $key => $option )
			{
				$p_builder->setAttribute( $key, $option );
			}
`,
it can work,

[2020-05-28 01:04] dev-vishnupundhir commented on #9
same issue

[2020-06-04 10:20] AxelBriche commented on #91
Hello, some news? This bundle is ready for the futur? Thanks.

[2020-06-04 11:25] jmsche commented on #91
Hello @AxelBriche, code style & static analysis are not done yet, but the bundle works well with last minor of Symfony (5.1).

[2020-06-04 20:42] AxelBriche opened #114 "Problem with quick insert icons"
Hello.

I use webpack and have this SCSS :

[code]

The Quick Insert icons is not aligned:
<img width="341" alt="Capture d’écran 2020-06-04 à 22 38 38" src="https://user-images.githubusercontent.com/1295251/83807968-2e570380-a6b4-11ea-9c01-af5d9015c03d.png">

If I remove `@import "~bootstrap/scss/bootstrap";` line, icons look good.
I use Bootstrap v4.5.0.

What is the problem please ?

I have fo

[2020-06-05 09:28] AxelBriche opened #115 "How to work with Froala inside a form with multiple fields ?"
Froala autosave don't push all my other fields in the ajax query.

[code]

<img width="1083" alt="Capture d’écran 2020-06-05 à 11 35 01" src="https://user-images.githubusercontent.com/1295251/83861289-aeb34e00-a720-11ea-92f7-490da7c8c0f0.png">

<img width="352" alt="Capture d’écran 2020-06-05 à 11 27 44" src="https://user-images.githubusercontent.com/1295251/83860473-95f66880-a71f-11ea-988b-cb

[2020-06-06 09:30] AxelBriche commented on #114
Problem with example reported here: https://github.com/froala/wysiwyg-editor/issues/3948

[2020-06-06 09:30] #114 closed

[2020-06-06 09:32] AxelBriche commented on #115
The solution is inside the official doc here but doen't work with this bundle:
https://froala.com/wysiwyg-editor/docs/concepts/save/inside-form/

[2020-06-06 09:45] jmsche commented on #115
You are looking at the wrong part of docs, here they are for autosave: https://froala.com/wysiwyg-editor/docs/concepts/save/autosave/

Not sure why you would expect to receive all fields as the docs state you will get the content of the textarea.

Maybe the `saveParams` is something you could play with to get other fields.

[2020-07-16 18:09] mpoiriert commented on #17
The problem is that the body content override the attribute with all options parameters.

The FroalaEditorType didn't have been developed with the symfony form extension in mind so it didn't escape it's configuration (by adding a prefix on the options/attributes name) and at the same time might override attribute set by other extension since they are treating all options bass to the build form, on

[2020-07-16 18:23] mpoiriert commented on #17
@sguionni This is clearly not a problem with sonata but rather how this bundle have been implemented, I think the invalid label should be removed and bug should be adressed.

[2020-07-16 18:27] mpoiriert commented on #91
Hi @jmsche The bug https://github.com/froala/KMSFroalaEditorBundle/issues/17 to be fixed will need a renaming of all form type options and will cause a BC.

Doing both at the same time would help. I will fork this project because I need this ASAP for a client. But maybe we can work together to make this more "Symfony" friendly.

[2020-07-16 18:35] jmsche commented on #17
Hi @mpoiriert, can you tell more about how this breaks Sonata?

Could you make a tiny reproducer for this? Thanks!

[2020-07-16 18:48] mpoiriert commented on #17
You have the step to reproduce here: https://github.com/sonata-project/SonataAdminBundle/issues/4773

In the symfony form system you can have extension (which Sonata Use) for example to add options.

When you receive the options (like in the buildForm and buildView method) you get ALL the options of ALL the form extension and your own.

Since you do this in the buildForm

foreach( $p_options as $k

[2020-07-16 20:20] jmsche commented on #17
I think the right fix is, for now, to loop only on options defined in Froala bundle and use the setAttribute() only on these instead of all options. Then your issue in Sonata would be fixed as well. WDYT?

I'm quite against the prefix as these options are meant for the FroalaEditorType in particular.

I have checked a few (popular) bundles, none is using prefixes for their form options.

About def

[2020-07-16 21:14] mpoiriert commented on #17
I have already made a fork and fix what I needed to work.

I understand your point about the prefix but this is not a issue when you have really specific option. But imagine having another extension that have a "profile" to define the profile of their configuration they will be in conflict, includeJS/includeCSS is another good example, what if a extension have js/css too and need to include them b

[2020-08-12 16:52] guldil opened #118 "Use CodeMirror twig ?"
Hello,

On a symfony 3.4 with KMS Froala 2.9.8 i'm tring to use Twig : https://codemirror.net/mode/twig/index.html

[code]

What did i miss ?

thanks

Guldil

[2020-09-01 07:28] linehammer commented on #66
Basically $ is an alias of jQuery() so when you try to call/access it before declaring the function, it will endup throwing this [$ is not defined](http://net-informations.com/jq/iq/defined.htm) error . This usually indicates that jQuery is not loaded and JavaScript does not recognize the $. Even with $(document).ready , $ is still going to be undefined because jquery hasn't loaded yet.

To solve

[2020-09-19 14:58] gansky-alexander commented on #17
Hello, guys ! Do you have any updates regarding Froala and Sonata integration ?

[2020-09-19 15:34] mpoiriert commented on #17
You can check my fork if you want. It's working. Didn't have time to clean
it up / document but you should be able do use it without problem and you
can check at the code change if you want to understand how to do custom
settings

On Sat, Sep 19, 2020, 10:58 AM Alexander Gansky <notifications@github.com>
wrote:

[2020-09-19 16:14] gansky-alexander commented on #17
Thank you, @mpoiriert ! I will check

[2020-09-19 16:14] gansky-alexander commented on #17
Do you mean this one, right?
https://github.com/mpoiriert/KMSFroalaEditorBundle

[2020-11-24 10:20] Mifrill commented on #9
any updates here?

[2020-11-24 10:23] #115 closed

[2020-12-07 10:10] jmsche commented on #17
Should be fixed with 4.0.0 release

[2020-12-07 10:10] #17 closed

[2020-12-07 10:11] jmsche commented on #91
Done with 4.0.0 release.

[2020-12-07 10:11] #91 closed

[2021-01-26 10:16] gabrielncl opened #122 "Error 1 image cannot be loaded on Froala Symfony 4.x"
Hello, I'm working with Symfony 4.x without flex and last version of froala, and I get `Error 1: Image cannot be loaded from the passed link.`

My config of froala editor :
`kms_froala_editor:
  language: "fr"
  pluginsDisabled: ["save"]
  imageMaxSize: 2097152
  imageUploadFolder: "/uploads"
  imageUploadPath: "/uploads"
  publicDir: "/web"`

My Image is being saved in the folder but it can be re

[2021-01-26 10:18] jmsche commented on #122
Hi, what version of the bundle are you using? Are you sure about your configuration?

[2021-01-26 10:22] gabrielncl commented on #122
Hi, it's the dev-master I think it's the 4.0.0, yes my configuration is working the path is the good one

[2021-01-26 10:24] gabrielncl commented on #122
<img width="296" alt="Capture d’écran 2021-01-26 à 11 24 30" src="https://user-images.githubusercontent.com/44476244/105833129-10cf0500-5fc9-11eb-9c8d-19a0562b4a98.png">

[2021-01-26 10:32] jmsche commented on #122
Can you check logs & xhr response to see what fails?

[2021-01-26 10:43] gabrielncl commented on #122
Now it's working, I cleaned cached files and it seems to work

[2021-01-27 12:39] jmsche commented on #122
Could you please close the issue? :)

[2021-01-27 12:40] #122 closed

[2021-02-01 10:33] gabrielncl opened #123 "Froala image upload to Filestack"
Can I upload an image to Filestack like on S3 ?

[2021-02-04 18:03] gabrielncl opened #124 "getPdf and spellChecker plugins does nothing"
Hello guys,
When I click on getPdf button this seems to do nothing, I enabled all plugins especially the print plugin but it does nothing.

This is the same for spellChecker I have a js error `Your subscription to the service has expired. Contact support@webspellchecker.net to learn how to resume your subscription.`

Do I have to buy Froala to get this working?

[2021-02-04 20:02] jmsche commented on #124
Hi,

SpellChecker requires you to have an active subscription, see https://froala.com/wysiwyg-editor/examples/web-spell-checker/

About the PDF button, I don't know what can be wrong. Could you please create a reproducer?

[2021-02-04 20:06] gabrielncl commented on #124
https://user-images.githubusercontent.com/44476244/106949026-c36f3800-672c-11eb-8ea1-a792b02e5cb0.mov

[2021-02-04 20:08] jmsche commented on #124
Please send a repository with some basic code to help me reproduce the bug locally; video won't help ;)

[2021-03-05 14:35] MichaelBrauner opened #125 "Will there be multiple css and/or js files included?"
I think about to use this bundle for my projects.
BUT - I wonder if there will be multiple includes of this css and js files:

`   {# CSS. #}
    {% if froala_includeFontAwesome %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% endif %}
    {% if froala_includeCodeMirror %}
        <link rel="stylesheet" t

[2021-03-05 14:38] jmsche commented on #125
I think so, that's part of the reason I added Encore build in the docs.

Note CSS/JS files should be downloaded once only though, as the first request returns a 200 status, and the next requests _should_ return a 304 status.

[2021-03-05 15:08] MichaelBrauner commented on #125
Ok, you mean it will be downloaded only once for sure?

[2021-03-05 15:28] jmsche commented on #125
If the server is configured correctly, sure.

[2021-05-16 05:42] mradultiw commented on #66
Thanks man, finally found your post 🙏🙏 The issue caused due to this single line gave me a lot of pain... though I hardly find any post at SO or github where they mentioned this...again thanks, you save me from big trouble

[2021-06-03 06:46] jmsche opened #126 "Why tag 4.0.0?"
Hi,

I'm wondering why version 4.0.0 has been tagged with this change? https://github.com/froala/KMSFroalaEditorBundle/commit/7e6856fcaf2b14933ad66e49a6e62562bd7e735e

The version number in the command is only an example, not the real value which will be pulled.

Can this tag/release be reverted please? And removed from packagist as well?

[2021-06-03 12:36] sguionni commented on #126
@kapil2704 ??

[2021-06-09 07:13] jmsche commented on #126
Hi @kapil2704, could you please stop committing tag change in the command & releasing please?

It does not make any sense to do that.

[2021-06-09 09:58] sguionni commented on #126
@jmsche i have lost my access to this repository, i don't know what is happening with Froala, but i think you can create a new repository and abandon this one since @kapil2704 don't care about what we are saying

[2021-07-07 17:03] ilyaskarim commented on #126
@harasunu-narayan Can you please look into this issue?

[2021-09-06 13:53] lrix opened #127 "Bug froala_widget.html.twig"
Hello,

I wonder if there is not a bug when using the customJS parameter

In the file "src / Resources / views / Form / froala_widget.html.twig" line 51

Shouldn't we use the "froala_customJS" variable?

Regards

[2021-11-09 10:06] jroszkiewicz commented on #126
And how situation?

[2021-11-09 10:22] jmsche commented on #126
I've sent a bunch of emails.

IIRC they removed the rights to @kapil2704, but I didn't manage to make them understand why I wanted to drop the commits on Github, & tags/releases on Packagist/Github. Problem is, I was never in direct contact with a technical employee, only sales employee.

As Symfony 6 is around the corner (planned for end of November) I think I'll fork the package & clean it up a

[2021-11-09 10:23] jroszkiewicz commented on #126
OK, thanks. You have my axe :)

[2021-11-09 16:45] jmsche commented on #126
Hi again,

Here is the fork: https://github.com/leapt/froala-editor-bundle

It requires PHP 8.0+ & Symfony 5.3+. All tags have been reset so the bundle starts at v1 :)

Note that a Flex recipe is on its way as well: https://github.com/symfony/recipes-contrib/pull/1302

[2021-11-30 16:24] jmsche commented on #127
Hi @lrix,

I published a fork a few weeks ago.

And today, I handled your bug, so feel free to use the fork :) It will be maintained as long as my company will use the WYSIWYG, while this bundle seems to be poorly maintained.

Fork URL: https://github.com/leapt/froala-editor-bundle

[2022-01-02 14:53] 838239178 opened #129 "Fail to display on EasyAdminBundle"
[code]
It displayed as a normal textarea

[2022-01-02 15:30] 838239178 commented on #129
I solve it!!!
[code]

[2022-01-02 15:30] #129 closed

[2022-01-02 15:32] 838239178 commented on #129
This may be a "Good first issue"

[2022-03-14 12:51] madmortigan1 opened #130 "Support for php 8.1 and Symfony 6"
Hello,

Is there any timeframe by any chance when it will support the versions ?

Regards,

[2022-03-14 12:53] jmsche commented on #130
Hi @madmortigan1, I personally stopped providing PRs on this bundle as its release management was not okay for me.

So I forked it a while ago: https://github.com/leapt/froala-editor-bundle if you're interested in a maintained bundle.

Current version supports PHP 8.1 & Symfony 6 without issues, also a bug has been fixed compared to KMS bundle.

[2022-03-14 12:55] madmortigan1 commented on #130
Thank you very much, I will check it out

Have a good week